html {
    font-family: 'Roboto', sans-serif;
    position: relative;  
}

.body {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 100%;
}

.header {
    position: fixed; 
    top: 0;
    width: 100%;   
    z-index: 100;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.empty-list {
    text-align: center;
    padding-top: 60px;
}

.empty-list-message {
    margin-top: 30px;
}